@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  font-size: 1.75rem;
}

/* ELEMENTS STYLE */
h1 {
  text-align: center;
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 2rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 1.3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

label {
  margin-bottom: 10px;
}
.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 23rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 1.25rem 2rem;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 1.5rem;
  }
  .between {
    font-size: 1rem;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
  }
  .number {
    font-size: 2.5rem;
    padding: 1rem 0rem;
  }
  .btn {
    font-size: 1.5rem;
    padding: 1.25rem 1.75rem;
  }
  .guess {
    font-size: 3rem;
    padding: 2rem;
    width: 14rem;
    margin-bottom: 2rem;
  }
  .right {
    font-size: 1.5rem;
  }
  .message {
    margin-bottom: 5rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }
  .between {
    font-size: 0.7rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .number {
    font-size: 2rem;
  }
  .btn {
    font-size: 0.8rem;
    padding: 0.8rem 1.2rem;
  }
  .guess {
    font-size: 2rem;
    padding: 0.8rem;
    width: 7rem;
    margin-bottom: 1.5rem;
  }
  .right {
    font-size: 1rem;
  }
  .message {
    margin-bottom: 3rem;
    height: 1.5rem;
  }
}
