@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1 {
  color: white;
  margin: 10px 0;
}

.hidden {
  display: none;
}

.rules {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-style: italic;
}

.close-rules {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
/* LAYOUT */
main {
  position: relative;
  width: 70vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.btns-dice {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 5rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: #ddd;
}

.current-score {
  font-size: 2.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  /*position: absolute;
  left: 50%;
  transform: translateX(-50%);*/
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
/*
.btn--new {
  top: 4rem;
}
.btn--info {
  font-size: 0.8rem;
  padding: 0.5rem 2rem;
} /*
.btn--roll {
  top: 30.3rem;
}
.btn--hold {
  top: 36.1rem;
}*/

.btn:active {
  transform: translate(0px, -10%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  height: 8rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

@media only screen and (max-width: 1300px) {
  main {
    width: 85vw;
  }
  .player {
    padding: 4rem;
  }
  .btn {
    font-size: 1.1rem;
    border-radius: 20px;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  }
  .name {
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }
  .current {
    padding: 1.2rem;
  }
}

@media only screen and (max-width: 850px) {
  main {
    flex-direction: column;
    width: 95vw;
  }
  .btns-dice {
    flex-direction: row;
    width: 100%;
  }
  .player {
    flex: 50%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
  }

  /* ELEMENTS */
  .name {
    margin-top: 1rem;
  }

  .score {
    font-size: 4rem;
    margin-bottom: 15px;
  }

  .current {
    width: 50%;
    padding: 0.5rem;
  }

  .current-label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .current-score {
    font-size: 1rem;
  }

  .btn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  }

  .dice {
    height: 4rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }
  .rules {
    width: 80%;
    padding: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  main {
    flex-direction: column;
    width: 95vw;
  }
  .btns-dice {
    flex-direction: row;
    width: 100%;
  }
  .player {
    flex: 50%;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
  }

  /* ELEMENTS */
  .name {
    font-size: 1.75rem;
  }

  .score {
    font-size: 4rem;
  }

  .current {
    width: 50%;
    padding: 0.5rem;
  }

  .current-label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .current-score {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.75rem;
    padding: 0.4rem 0.6rem;
    border-radius: 20px;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  }

  .dice {
    height: 3rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }
}
